<a href="/tasks">Task Index</a>

<h1 style="display: table; background-color: blue; color: white; border: 10px solid black";><%= @task.title %></h1>

<p style="font-family: courier"><%= @task.description %></p>

<a href="/tasks/<%= @task.id %>/edit">Edit</a>